li, p {
    font-size: 22px;
}

a {
    color: inherit;
}

a:hover {
    color: #e6228a;
}

.wrapper {
    margin: 10px 20px;
}

.block {
    margin-bottom: 0;
}

#header {
    color: #1a4666;
    font-style: italic;
}