li, p {
    font-size: 22px;
}

a {
    color: inherit;
}

h3, ul li {
    font-family: serif;
}

a:hover {
    color: #e6228a;
}

.wrapper {
    margin: 10px 20px;
}

.block {
    margin-bottom: 0;
}

#header h1 {
    color: #1a4666;
    font-style: italic;
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 19px;
        line-height: 22px;
    }

    li, p {
        font-size: 18px;
    }
}