@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy.otf');
}

body {
    background-color: #e2cfdd;
    color: #4f4f4f;
}

footer {
    position: absolute;
    width: 100%;
}

li a {
    font-size: 17px;
}

a, a:hover, a:link {
    text-decoration: none;
}

a {
    color: #8a8a8a;
}

a:hover {
    color: beige;
}

nav.navbar-inverse {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-width: 322px;
}

nav div.container {
    width: 100%;
}

.navbar-nav>li,
.navbar-nav {
    float: none;
}

.navbar-nav>li {
    display: inline-block;
}

.navbar-collapse {
    width: 100%;
}

.footer-cont {
    margin-top: 8px;
}

.active {
    color: #d9bfd1 !important;
}

.social {
    width: 35px;
    margin-left: 10px;
}

.nav {
    font-weight: bold;
}

.orange, .orange:link {
    font-weight: bold;
    color: orangered !important;
}

.orange:hover {
    color: #e6228a !important;
}

.pink, .pink:link {
    color: #e6228a !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:link {
    background-color: inherit;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #9d9d9d;
}

.block {
    margin: 7px -7px 14px -7px;
    background-color: #ebebeb;
}

.for-mobile, .footer-hide {
    display: none;
}

#contacts {
    margin-top: 10px;
    min-height: 43px;
    color: #b3b3b3;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#name {
    font-weight: 700;
    font-size: 24px;
    color: #e6228a;
    margin-top: 9px;
    position: absolute;
    left: 0;
    width: 100%;
}

#name span {
    margin-left: 5%;
}

#menu {
    margin-top: 3px;
    text-align: center;
}

#menuButton {
    margin-top: -33px;
    color: orangered;
    margin-right: 6%;
}

#popup {
    padding: 45px 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-title {
    font-size: 33px;
    font-weight: bold;
}

.modal-title a {
    color: #e6228a;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    padding-bottom: 30px;
}

.modal-body p {
    margin-top: 20px;
    font-size: 15px;
}

.modal-dialog {
    top: 20%;
}

#popup img {
    width: 30%;
    max-width: 120px;
}

#popup a:hover {
    cursor: pointer;
    color: orangered;
}

#close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 360px) {
    /*#name span {*/
    /*line-height: 55px;*/
    /*}*/
    #contacts {
        padding-left: 10px;
        font-size: 13px;
    }

    #contacts .col-sm-2 {
        padding-left: 37px;
    }

    #image-links {
        margin-top: 10px;
        margin-bottom: 12px;
    }

    #banner {
        width: 80vw;
    }
}

@media screen and (min-width: 361px) and (max-width: 450px) {
    /*#name span {*/
    /*line-height: 55px;*/
    /*}*/
    #contacts {
        font-size: 15px;
    }

    #image-links {
        margin-top: 10px;
        margin-bottom: 12px;
    }

    #banner {
        width: 70vw;
    }
}

/* xs < 768 */
@media screen and (min-width: 451px) and (max-width: 768px) {
    .for-mobile {
        display: inherit;
    }

    .social {
        width: 35px;
        padding-bottom: 7px;
    }

    #banner {
        width: 60vw;
    }

    #contacts {
        margin-top: 12px;
        font-size: 16px;
    }

    .block {
        margin: 7px -5px 14px -5px;
    }

    .footer-cont {
        margin-top: 0;
        margin-bottom: 10px;
    }

    #image-links {
        margin-bottom: 10px;
    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #menu {
        padding: 0;
    }

    #image-links {
        margin-top: 5px;
    }

    #contacts {
        min-height: 60px;
        margin-top: 15px;
    }

    .footer-cont {
        margin-top: 0;
    }

    .footer-hide {
        display: inline;
    }
}

/* md */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #contacts {
        font-size: 15px;
    }
}