body {
    background-color: #e2cfdd;
    color: #4f4f4f;
}

footer {
    margin-top: 8px;
}

li a {
    font-size: 17px;
}

a, a:hover, a:link {
    text-decoration: none;
}

a {
    color: #8a8a8a;
}

a:hover {
    color: beige;
}

nav.navbar-inverse {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-width: 322px;
}

nav div.container {
    width: 100%;
}

.footer-cont {
    margin-top: 5px;
}

.active {
    color: #d9bfd1 !important;
}

.social {
    width: 35px;
    margin-left: 10px;
}

.nav {
    font-weight: bold;
}

.orange, .orange:link {
    font-weight: bold;
    color: orangered !important;
}

.orange:hover {
    color: #e6228a !important;
}

.pink, .pink:link {
    color: #e6228a !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:link {
    background-color: inherit;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #9d9d9d;
}

.block {
    margin: 7px -7px 14px -7px;
    background-color: #e6e6e6;
}

.for-mobile {
    display: none;
}

#contacts {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b3b3b3;
    font-size: 16px;
    width: 100%;
}

#name {
    font-weight: 700;
    font-size: 24px;
    color: #e6228a;
    margin-top: 9px;
    margin-left: 40px;
}

#menu {
    margin-top: 3px;
}

#menuButton {
    margin-top: 0;
    color: orangered;
}

@media screen and (max-width: 360px) {
    #name span {
        line-height: 55px;
    }

    #vk {
        margin-top: -41px;
        width: 32px;
    }

    #inst {
        margin-top: -7px;
        width: 32px;
    }

    #contacts {
        padding-left: 10px;
        font-size: 13px;
    }

    #contacts .col-sm-2 {
        padding-left: 37px;
    }
}

@media screen and (min-width: 361px) and (max-width: 450px) {
    #name span {
        line-height: 55px;
    }

    #contacts {
        padding-left: 10px;
        font-size: 14px;
    }

    #contacts .col-sm-2 {
        padding-left: 37px;
    }

    #vk {
        margin-top: -50px;
    }

    #inst {
        margin-top: -10px;
    }
}

/* xs < 768 */
@media screen and (min-width: 450px) and (max-width: 768px) {
    .for-mobile {
        display: inherit;
    }

    .social {
        margin-top: -20px;
        width: 30px;
    }

    #contacts {
        padding-left: 10px;
        font-size: 14px;
    }

    #name span {
        line-height: 55px;
    }

    #name {
        margin-left: 20px;
    }

    .block {
        margin: 7px -5px 14px -5px;
    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #menu {
        padding: 0;
    }

    #contacts {
        font-size: 14px;
    }
}

/* md */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #contacts {
        font-size: 15px;
    }
}