iframe {
    width: 100%;
}

footer {
    margin-top: 0;
}

h1 {
    text-align: center;
    padding: 0 5px;
    margin-top: 10px;
    line-height: 32px;
    color: #444444;
    font-weight: bold;
    font-family: Gilroy, sans-serif;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.block {
    margin-top: 8px;
    margin-bottom: 8px;
}

#map-wrapper {
    margin-top: -8px;
}

#map {
    padding: 10px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 15px;
        line-height: 19px;
    }
}

/* xs < 768 */
@media screen and (min-width: 400px) and (max-width: 768px) {
    h1 {
        font-size: 16px;
        line-height: 24px;
    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 19px;
    }
}