h1 {
    margin-bottom: 6px;
    margin-top: 0;
    font-weight: bold;
    font-family: Gilroy, sans-serif;
    font-size: 40px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}

small {
    font-size: 19px;
    font-style: normal;
    color: #4f4f4f;
}

ul {
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
}

ul#wallpaper li {
    display: inline;
}

img {
    width: 14px;
}

.block {
    margin-bottom: 0;
}

.column {
    background-color: #f7f7f7;
    padding: 15px 30px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    text-align: center;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.column:hover {
    box-shadow: 4px 4px 15px #8c8c8c;
}

.wrapper {
    margin: 12px 20px;
}

#banner img {
    width: inherit;
    height: inherit;
}

#header {
    color: #1a4666e6;
    text-align: center;
}

.content {
    padding-bottom: 20px;
}

#main-content {
    margin-top: 4%;
    margin-bottom: 6%;
}

#main-block {
    background-image: url(../img/back2.png);
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 19px;
    }

    ul {
        font-size: 16px;
    }

    .column {
        padding: 0;
    }
}

/* md */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    h3 {
        font-size: 23px;
    }
}