img {
    max-width: 100%;
}

#content {
    opacity: 0;
    min-height: 570px;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#concrete-factory {
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #bdbdbd;
}

#spinner {
    display: none;
    width: 60px;
    opacity: 0;
    position: fixed;
    top: 50vh;
    left: 45%;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#back {
    font-size: 20px;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

#back:hover {
    cursor: pointer;
}

#image-wrapper {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}

#image-wrapper img {
    border: 3px solid white;
}

.catalog {
    width: 20%;
}

.logo,
.catalog {
    display: inline-block;
    margin: 20px 1%;
    padding: 10px;
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.logo:hover,
.catalog:hover{
    box-shadow: 4px 3px 14px 2px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.logo img,
.catalog img {
    width: 100%;
}

.wrapper {
    padding: 0 5%;
}

#header {
    margin-top: 55px;
}

.company {
    margin-top: 20px;
}

.company span {
    font-size: 15px;
}

@media screen and (min-width: 769px) {
    .logo {
        width: 18%;
    }
}

@media screen and (max-width: 768px) {
    .logo,
    .catalog {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    .catalog {
        width: 80%;
    }

    #spinner {
        left: 40%;
    }
}